<ion-view title="Goals" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="goals-form8" class="list">
      <ion-item class="item-divider" id="goals-list-item-divider1"> Mind</ion-item>
      <ion-checkbox id="goals-checkbox5">Read - 11.12.16</ion-checkbox>
      <ion-item class="item-divider" id="goals-list-item-divider2"> Movement</ion-item>
      <ion-checkbox id="goals-checkbox3">Hiking - 08.12.16</ion-checkbox>
      <ion-checkbox id="goals-checkbox6">Exercises - 12.12.16</ion-checkbox>
      <ion-item class="item-divider" id="goals-list-item-divider3"> Nutrition</ion-item>
      <ion-checkbox id="goals-checkbox7">Diet - 20.12.16</ion-checkbox>
    </form>
    <a ui-sref="home.setGoals" id="goals-button6" class="button button-positive  button-block">Add Goals</a>
  </ion-content>
</ion-view>