<ion-view title="Knowledge Base" hide-nav-bar="true" nav-transition="none" id="page5">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="knowledgeBase-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="knowledgeBase-slide24" style="background-color:#4C8FFE;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/Yy1nUbhTOOd6tx1qaQYQ_rate.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="knowledgeBase-heading2" style="color:#FFFFFF;text-align:center;">Rate Yourself</h3>
              <div id="knowledgeBase-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">Use
                  <strong>The Human Five</strong> to rate yourself.</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="knowledgeBase-slide27" style="background-color:#34BA75;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/SHnzfv1TBWPQ0MDsXQkr_goals.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="knowledgeBase-heading3" style="color:#FFFFFF;text-align:center;">Create/Manage Goals</h3>
              <div id="knowledgeBase-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">Add and fulfill
                  <strong>goals</strong> to keep yourself fit.</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="knowledgeBase-slide28" style="background-color:#9151FB;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/WdwE0fEjQuKOP8XfBpyK_statistics.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="knowledgeBase-heading4" style="color:#FFFFFF;text-align:center;">Statistics</h3>
              <div id="knowledgeBase-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">View your progress through
                  <strong>statistics</strong>.</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="knowledgeBase-slide29" style="background-color:#F23FAF;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/yY4ueVlTAWJ8jDrZbvYr_profile.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h3 id="knowledgeBase-heading5" style="color:#FFFFFF;text-align:center;">Profile Management</h3>
              <div id="knowledgeBase-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">Manage your
                  <strong>profile</strong> to edit your details.</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="knowledgeBase-slide210" style="background-color:#FFFFFF;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/NvMWUgL7Tbm468PImZl7_TheHumanFiveonwhitesquare-page-0.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="width: 300px; height: 64px;"></div>
              <a ui-sref="menu.theHumanFive" id="knowledgeBase-button1" class="button button-positive  button-block">Head to Home</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>