<ion-view title="Performance" id="page9">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/mOn84XejSUSEfw6qpkg5_stress-performance-curve-trading-2ndskiesforex.png" style="display: block; width: 100%; height: 350px; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="home.wEMWBS" id="performance-button12" class="button button-positive  button-block">Save</a>
    <div id="performance-button-bar4" class="button-bar"></div>
    <div id="performance-button-bar5" class="button-bar"></div>
  </ion-content>
</ion-view>