<ion-view title="Statistics" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/H5NA17qAR4W8i9xquVGU_Body-Ratings.jpg" style="display: block; width: 100%; height: 240px; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/H5NA17qAR4W8i9xquVGU_Body-Ratings.jpg" style="display: block; width: 100%; height: 240px; margin-left: auto; margin-right: auto;">
    </div>
    <div id="statistics-button-bar6" class="button-bar"></div>
  </ion-content>
</ion-view>