<ion-view title="Performance" id="page9" >
  <ion-content padding="true" class="has-header">
    <form ng-submit="formSubmit()">
        <div id="chart">
                <svg width="750" height="1000" />
        </div>

        <button type="submit" id="perfButton" style= "border-radius:10px;background-color:deepskyblue;color:white;" class ="button button-block" ng-click="goWEMWBSPage()">Rate Yourself</button>
    </form>

    <div id="performance-button-bar4" class="button-bar"></div>
    <div id="performance-button-bar5" class="button-bar"></div>
  </ion-content>
</ion-view>