<ion-view title="Performance" id="page9">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);" ng-controller="th5Ctrl">
		<img src="img/p1.png"		id="p1" style="width: 24%; height: 350px; margin-left: auto; margin-right: auto;"">
		<img src="img/p1color.png" 	id="p1g" style="width: 24%; height: 350px; margin-left: auto; margin-right: auto;">
		<img src="img/p2.png" 		id="p2" style="width: 24%; height: 344px; top: -2px; left:-1%;position:relative;">
		<img src="img/p2color.png" 	id="p2g" style="width: 24%; height: 344px; top: -2px; left:-1%;position:relative;">
		<img src="img/p3.png" 		id="p3" style="width: 24%;height: 344px;left: -3%;position: relative;top: 17.7px;">
		<img src="img/p3color.png" 	id="p3g" style="width: 24%;height: 344px;left: -3%;position: relative;top: 17.7px;">
		<img src="img/p4.png" 		id="p4" style="width: 24%;height: 344px;position: relative;left: -4%;top: 22.5px;">
		<img src="img/p4color.png" 	id="p4g" style="width: 24%;height: 344px;position: relative;left: -4%;top: 22.5px;">
    </div>
    <button type="submit" id="perfButton" style= "border-radius:10px;background-color:deepskyblue;color:white;" class ="button button-block">Rate Yourself</button>
    <div id="performance-button-bar4" class="button-bar"></div>
    <div id="performance-button-bar5" class="button-bar"></div>
  </ion-content>
</ion-view>