.has-header{
/* // background-image: url('../img/bg.jpg');
*/
  background-color: cornsilk;
}
/*nvd3*/
body {
  margin: auto;
  width: 960px;
}

text {
  font: 10px sans-serif;
}


.xAxis,
.axisLabel{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.xAxis {
  display: none;
}


.bg {
  fill: url(#temperature-gradient);
  stroke-width: 1.5px;
}

.nvtooltip{
        font-size:16px;
        width:120;
        height:auto;
        position:absolute; 
        top:400px;
        left:300px;
        text-align:center;
        border-width:1px;
        background-color:white;
        border-radius:5px;  
      }

/* - - - - - - - - - - - - -*/

select {
    border: 1px solid #fff;
    background-color: rgba(255,255,255,.2);
    padding: 5px;
}
.add-input {
  width: 60%;
  height: 20px;
  float: left;
  border: none;
  margin: 40px 10px;
  font-size: 2em;
  font-family: megrim, fantasy;
  text-indent: 55px;
}

  .tooltip{
   font-family: simsun;
   font-size: 14px;
   width: 120;
   height: auto;
   position: absolute;
   text-align: center;
     border-style: solid; 
   border-width: 1px;
   background-color: white;
   border-radius: 5px;
  }

#eventForm .form-control-feedback {
    top: 0;
    right: -15px;
}
.centered {
  position: fixed;
  left: 40%;
  top: 10%;
  /* bring your own prefixes */
  transform: translate(0%, -50%);
}

.logo {
  height: 100px;
  width: 100px;
  top: 20%;
}
.todo-wrapper {
  background: #55B6AE;
  width: 100%;
}

.button {
  min-width: 32px;
  min-height: 37px;
  line-height: 35px;
  font-size: 15px;
}

.emphasis {
  font-family: sans-serif;
  font-size: 2.5em;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  font-size: 1.2em;
  padding: 20px;
  
/*  background: #65d8cb; 
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#65d8cb), to(#72f4e9));
  background: -webkit-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: -moz-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: -o-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: linear-gradient(#65d8cb 0%, #72f4e9 100%);*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65d8cb', endColorstr='#72f4e9',GradientType=0 );
  list-style-type: none;
  margin-left: 0px;
  padding-left: 10px;
}

li input[type="checkbox"] {
  width: 40px;
}

.done-true {
  text-decoration: line-through;
  color: #ddd;
}


.clear-btn {
  width: 100%;
  border: none;
  height: 100px;
  background: #13756D;
  font-size: 2em;
  font-family: megrim, fantasy;
  color: #aaa;
}

.notValid {
  text-align: center;
  color: red;
}

.notSelected {
  text-align: center;
  color: red;
}

.just{
  text-align: justify;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0%;
    top: 10%;
    bottom: 10%;
    width: 100%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255,255,255,1); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}