<ion-view title="Statistics" id="page3">
<ion-content padding="true" class="has-header">
<!-- 5 attempts / 5 days / 5 months -->
    <ion-card>
        <ion-card-content>
            <div id = "columnCanvas" class="card"></div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <div id = "areaCanvas" class="card"></div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <div id = "lineCanvas" class="card"></div>
        </ion-card-content>
    </ion-card>

    <div id="statistics-button-bar6" class="button-bar"></div>
</ion-content>
</ion-view>