<ion-view title="Statistics" id="page3">
    <!-- <ion-header>
    <ion-navbar color="danger">
    <ion-title>
    Statistics
</ion-title>
</ion-navbar>
</ion-header> -->
<ion-content padding="true" class="has-header">
    <!-- <div id = "chart">
</div> -->


    <ion-card>
        <!-- <ion-card-header>
            Column Chart
        </ion-card-header> -->
        <ion-card-content>
            <!-- <canvas #columnCanvas></canvas> -->
            <div id = "columnCanvas" class="card"></div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <!-- <ion-card-header>
            Area Chart
        </ion-card-header> -->
        <ion-card-content>
            <!-- <canvas id="areaCanvas"></canvas> -->
            <div id = "areaCanvas" class="card"></div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <!-- <ion-card-header>
            Line Chart
        </ion-card-header> -->
        <ion-card-content>
            <!-- <canvas id="lineCanvas"></canvas> -->
            <div id = "lineCanvas" class="card"></div>
        </ion-card-content>
    </ion-card>

    <div id="statistics-button-bar6" class="button-bar"></div>
</ion-content>
</ion-view>




<!--
<ion-content>

<ion-card>
<ion-card-header>
Bar Chart
</ion-card-header>
<ion-card-content>
<canvas id="barCanvas"></canvas>
</ion-card-content>
</ion-card>

<ion-card>
<ion-card-header>
Doughnut Chart
</ion-card-header>
<ion-card-content>
<canvas #doughnutCanvas></canvas>
</ion-card-content>
</ion-card>

<ion-card>
<ion-card-header>
Line Chart
</ion-card-header>
<ion-card-content>
<canvas #lineCanvas></canvas>
</ion-card-content>
</ion-card>

</ion-content> -->
