<ion-view title="Login" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page6" style="background-color:#FFFFFF;">
    <ion-content padding="true" style="background: url(img/ZMmVLi7YR1y1OaEIyBtv_3.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <form id="login-form1" class="list center-form" ng-submit="loginSubmit()" ng-controller="regCtrl">
            <div>
                <img src="img/lI1ysetNRRuOsL5hSHts_TheHumanFiveTransparentBackground.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div class="spacer" style="width: 290px; height: 19px;"></div>
            <ion-list id="login-list2">
                <label class="item item-input top-input" id="login-input1">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="" ng-model="username" required>
                </label>
                <label class="item item-input bottom-input" id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="password" required>
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <p ng-hide="badLogin" style="text-align:center;color:red;">
                Wrong username or password!
            </p>
            <button type="submit" class="button button-positive button-block">Log in</button>
            <a ui-sref="signup" id="login-button4" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>