<ion-view title="Goals" id="page13">
  <ion-content padding="true" class="has-header">
    

    <div ng-controller="goalsCtrl">
        <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>
          <ul>
            <li ng-repeat="todo in todos">
<!--               <input type="checkbox" ng-model="todo.done"/>
 -->        <button class="button" data-ng-click="removeItem($index)" style="position:absolute; right:15px;">
            <i class="fa fa-check" aria-hidden=           "true"></i>
            </button>
            <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
          </ul>

      <form>
        <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />
        <button class="button button-balanced button-block add-btn" ng-click="addTodo()">Add</button>
      </form>
<!--       <button class="button clear-btn" ng-click="clearCompleted()">Clear completed</button> -->
    <!--   <button class="button button-block clear-btn" data-ng-click="removeItem($index)">Remove</button> -->
    </div>
    

    <!-- <a ui-sref="home.setGoals" id="goals-button6" class="button button-balanced  button-block">Add Goals</a> -->
  </ion-content>
</ion-view>