<ion-view title="Set Goals" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="setGoals-list-item-container1" ng-controller="goalsCtrl">
      <form id="setGoals-form4" class="list">
        <label class="item item-select" id="setGoals-select1">
          <span class="input-label">Catogory</span>
          <select ng-model="catogory" ng-change="showCato(catogory)">
            <option>Mind</option>
            <option>Body</option>
            <option>Movement</option>
            <option>Nutrition</option>
            <option>World</option>
          </select>
        </label>
         <label class="item item-input" id="todo-input" style="margin-top: 10px;">
          <span class="input-label">Deadline</span>
          </label>
        <label class="myCalendar" id="myCalendar-1">
          <input class="myInput" id="myDatePicker-1" data-lang="en" data-years="1995-2022" data-sundayfirst="false" /> 
        </label>
        <ion-toggle toggle-class="toggle-positive" id="setGoals-toggle2" ng-click="addTodo()">Add to Group</ion-toggle>

         <button class="button button-balanced button-block add-btn" ng-click="addDetail()">Save</button>
      </form>
    </div>
  </ion-content>
</ion-view>